/* .text-box h3:nth-child(1){
    color: pink;
}

#greycol {
    color: grey;
}

div div p{
    color: red;
}

  div ~ p {
color: green;
}

.yellow{
    color: yellow;
} */

.text-box > h3:first-child {
    color: pink;
}

#greycol {
    color: grey;
}

/* div div p {
    color: red;
} */

div + div p {
    color: red;
}

div + h3 + p {
    color: green;
}

.yellow {
    color: yellow;
}